<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
  <connectionStrings>
    <add name="Library" connectionString="Data Source=STYTAN-PC\SQLEXPRESS1;Initial Catalog=Library;Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Password=rohlya;"/>
  </connectionStrings>
</configuration>
